@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* プロポーショナルメトリクス */
    .ff-pm {
        font-feature-settings: "palt" 1;
    }

    /* プロポーショナル字形 */
    .ff-pl {
        font-feature-settings: "pwid" 1;
    }

    /* 仮名のみプロポーショナル字形 */
    .ff-pk {
        font-feature-settings: "pkna" 1;
    }
}

:root {
    color-scheme: light dark;
}

@layer base {
  :root {
        --link: 180 75% 30%;
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
  .dark {
        --link: 170 90% 75%;
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 15%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 170 87% 25.5%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 38.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 30.9%;
        --input: 0 0% 42.9%;
        --ring: 200 80% 78.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

/* フォームでエラーがあるフィールドに適用するスタイル */
/* `data-error` 属性があり且つ値が空文字ではないとき */
/* NOTE: 初期状態では `data-error` 属性がない。
 * エラー対象のフィールドを変更するとエラー表示を消したいが
 * Inertiaの `useForm` の仕様上、
 * エラーメッセージに空文字列を設定することになるため、
 * `data-error` 属性自体は消えずに値に空文字がセットされる。
 * だからこのようなセレクタが必要。
 */
:is(
    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=url],
    input[type=password],
    input[type=number],
    select,
    textarea
)[data-error]:not([data-error=""]) {
    @apply border-destructive;
}

.link {
    @apply cursor-pointer text-link underline;
}

.link-like-button {
    @apply cursor-pointer gap-1 inline-flex items-center text-link underline;
}
